application/src-gen
application/bin
application/build
application/include

scripts/__pycache__
build/

deps/
!deps/reactor-uc

.venv/
venv/
.vscode/
**/build
**/src-gen/
**/include/
/bin
/fed_build_backup

zephyr-tests/